.modal {
  position: fixed;
  margin: 0;
  padding: 10%;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.5);
  pointer-events: none;
  opacity: 0;
  transition: .3s opacity;
}

.modalActive {
  pointer-events: all;
  opacity: 1;
}